{% extends 'base/base.html' %}

{% block content %} 
<div class="container">
    <div class="row">
        <!--Agregar un animal -->
        <div class="col-12 ">
            <div class="m-5 center">
                <a href="{% url 'books:new_book' %}" class="btn btn-success ">Agregar un nuevo libro</a>
            </div>
        </div>
    </div>
    <div class="row">
        <!--Buscador de animales-->
        <div class="col-12">

        </div>
    </div>
    <div class="row">
        <!--Lista de Animales -->
        <div class="col-12">
            {% if object_list %}
            <table class="table-bordered">
                <thead>
                    <tr>
                        <td>Titulo</td>
                        <td>Fecha de publicación</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody> 
                    {% for book in object_list %}
                    <tr>
                        <td> <a href="{% url 'books:list_comments' book.id %}"> {{book.title}} </a> </td>
                        <td>{{book.publication_date}}</td>

                        <td>
                            <div class="btn-group-vertical">
                            <a class="btn btn-primary" href="{% url 'books:edit_book' book.id %}">Editar</a>
                            <a class="btn btn-danger" href="{% url 'books:delete_book' book.id %}">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                    
                    {% else %}
                    <h1> No se encontraron libros registrados</h1>
                     {% endif %}
           
        </div>
    </div>

</div>
{% endblock %}