{% extends 'base/base.html' %}

{% block content %} 
<div class="container">
    <div class="row">
        <!--Lista de libros -->
        <div class="col-12">
            {% if object_list %}
                {% for book in object_list %}
                    <div class="row">
                        <div class="col-12 m-3 ">  
                            <div class="card">
                                <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'books:list_comments' book.id %}">{{book.title}}</a></h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{book.publication_date}}</h6>
                                <a class="btn btn-primary" href="{% url 'books:edit_book' book.id %}">Editar</a>
                                <a class="btn btn-danger" href="{% url 'books:delete_book' book.id %}">Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h1> No se encontraron libros registrados</h1>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}