{% extends 'base/base.html' %}

{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-12 ">
            {% if book %}
            <h2> {{ book.title }}</h2>
            <h4>{{ book.publication_date }}</h4>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <!--Agregar un comentario -->
        <div class="col-12 ">
            <div class="m-1 center">
                <a href="{% url 'books:new_comments' book.id %}" class="btn btn-success ">Agregar un comentario</a>
            </div>
        </div>
    </div>
    <div class="row">
        <!--Buscador de animales-->
        <div class="col-12">

        </div>
    </div>
    <div class="row">
        <!--Lista de Animales -->
        <div class="col-12">
            {% if comentarios %}
                <ul class="list-group list-group-flush">
                    {% for comment in comentarios %}
                        <li class="list-group-item">
                          <p><b>Comentario</b>: {{comment.text}}</p> 
                          <p><b>Usuario</b>: {{comment.id_user.username}} </p> 
                          <p><b>Nombre</b>: {{comment.id_user.first_name}} {{comment.id_user.last_name}}</p> 
                          <p><b>Fecha de creación</b>: {{comment.created_date}} </p> 
                          <a class="btn btn-primary" href="{% url 'books:edit_comments'  book.id comment.id %}">Editar</a>
                          <a class="btn btn-danger" href="{% url 'books:delete_comments' book.id comment.id %}">Eliminar</a>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                <h1> No se encontraron Comentario registrados</h1>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}